---
layout: layout.njk
script: /js/pages/preferences.js
title: Preferences
---
<section class="section">
    <div class="container">
        <div class="box notification is-info is-dark">
           
            <div class="columns is-desktop">

                <!--City Favorities-->
                <div class="column is-6"> 
                    <div class="has-text-centered">
                        <h1 class="is-size-4 has-text-weight-semibold has-text-white">Favority Cities </h1>
                    </div> 
                    <div class="box column has-background-info-light m-5 has-text-black">
    
                        <div  class="checkboxes ">
                            <ul id="cardPrefrences">
    
                            </ul>
                        </div>
                        <br/>
                        <div>
                            <button class="button is-info is-dark m-1 p-3" type="submit" onclick="updateFavoriteCities(event)">Apply Changes</button>
                            <button class="button is-info is-dark m-1 p-3" type="submit" onclick="resetFavoriteCities(event)">Reset Favorites</button>
                        </div>
                    </div>
                </div>

                <!--Other Settings-->
                <div class="column is-6"> 
                    <div class="has-text-centered">
                        <h1 class="is-size-4 has-text-weight-semibold has-text-white">Settings </h1>
                    </div> 
                    
                    <div class="box column has-background-info-light m-5">   
                        <div class="columns select is-info has-text-black" id="cityDefault">
                            <h2 class="column">Default City: </h2>
                            <select id="dropdownOptions" class="column">
                                <!--Wil be filled with javascript-->
                            </select>
                        </div>
                        <br/>

                        <!--manipulating wether images-->
                        <fieldset class="box has-background-info-light border  has-text-black"style="border: 2px solid #3273dc; border-radius: 6px;">
                            <legend>Set wether images:</legend>
                            <p class="is-size-7 has-text-grey mb-5">
                                Will update the set of images representing the weather.
                            </p>
                            <div class="radioWeatherIMG control has-text-black">
                                <!--Wil be filled with javascript-->
                            </div>
                       </fieldset>
                        <!--City Focus page Settings-->
                        <br/>
                        <fieldset class="box has-background-info-light border  has-text-black"style="border: 2px solid #3273dc; border-radius: 6px;">
                            <legend>City Focus Settings:</legend>
                            <label class="checkbox has-text-black">
                                <input id="windHourlyCB" type="checkbox" />
                                Show wind at hourly forecast.
                            </label> 
                        </fieldset>
                        <br/>               
                        <div>
                            <button id="btnPref" class="button is-info is-dark m-1 p-3" type="submit" onclick="settingChanges()">Apply Changes</button>
                        </div>       
                    </div><!--ENd of Other Settings box-->
                </div><!--ENd of Other Settings-->
                
            </div>
        </div>
    </div><!--ENd of Conteiner-->
</section>
<br><br>
