<script src="../js/pages/header.js"></script>
  
  <header class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <img src="/assets/logo.png">
      </div>
      <div class="column">
        <h1 id="page-heading" class="is-size-1">{{ title }}</h1>
        <div class="columns">
          <p id="weekday" class="column is-size-4 has-text-link-light"></p>
          <p id="headerTime" class="column is-size-4 has-text-link-light"></p>
        </div>
        
      </div>
  </header>