<script>
  document.addEventListener('DOMContentLoaded', () => {
    const time = dotify.utils.currentTimeInfo();
    const weekDay = dayjs().add(2, 'day').format('dddd');
    const weekDayElement = document.getElementById('weekday');
    weekDayElement.textContent = `${weekDay}  -  ${time.hour12}:${time.min} ${ampm}`;
  });
</script>
  
  
  <header class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <img src="/assets/logo.png">
      </div>
      <div class="column">
        <h1 id="page-heading" class="is-size-1">{{ title }}</h1>
        <p id="weekday" class="is-size-4 has-text-link-light"></p>
        
      </div>
  </header>