  <script>
    const retrieveLastSelCity = localStorage.getItem("selectedCity");
    const retrieveIFLastSeenWasSel = localStorage.getItem("lastSeenWasSelected");
    const savedDefaultCity = localStorage.getItem("cityDefault");
    const path = window.location.pathname; // get URL path
    console.log(path);

    document.addEventListener("DOMContentLoaded", () => {
      
      //adding link to cityFocus button
      const savedCity = (retrieveIFLastSeenWasSel=="false")? localStorage.getItem("cityDefault"):localStorage.getItem("selectedCity");
      const btnOptions =[{name:"Dashboard", a:"/index/"},
                        {name:"City Focus",a:`/cityFocus/?city=${savedCity}`},
                        {name:"Preferences",a:`/preferences/`}];

      const navBtn = document.getElementById("navBtn");
      btnOptions.forEach((item) => {
        const isSelected = (item.a.indexOf(path)!==-1)? "has-text-info":"has-text-white";
        navBtn.innerHTML +=`
          <a href="${item.a}" class="navbar-item ${isSelected}">${item.name} </a>
        `;
      });
    });
  </script> 
  
  <nav class="navbar has-background-black">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/favicon.png" alt="Logo" />
      </a>
      <span class="navbar-burger has-background-black" data-target="navbarMenu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div id="navBtn" class="navbar-end has-background-black">
      </div>
    </div>
  </nav>
