  <script>
    const retrieveLastSelCity = localStorage.getItem("selectedCity");
    const retrieveIFLastSeenWasSel = localStorage.getItem("lastSeenWasSelected");
    const savedDefaultCity = localStorage.getItem("cityDefault");

    document.addEventListener("DOMContentLoaded", () => {
      const savedCity = (retrieveIFLastSeenWasSel=="false")? localStorage.getItem("cityDefault"):localStorage.getItem("selectedCity");
      const a = document.getElementById("cFocusLink");
      a.href= `/cityFocus/?city=${savedCity}`;
   
    });
  </script> 
  
  <nav class="navbar has-background-black">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/favicon.png" alt="Logo" />
      </a>
      <span class="navbar-burger has-background-black" data-target="navbarMenu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end has-background-black">
        <a href="/" class="navbar-item has-text-white">
          Home
        </a>
        <a id="cFocusLink"  class="navbar-item has-text-white">
          City Focus
        </a>
        <a href="/preferences/" class="navbar-item has-text-white">
          Preferences
        </a>

      </div>
    </div>
  </nav>
